 {# tenemos que extender a la vista principal #}
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>{{text}}</h1>
    <h2>El nombre del animal es : {{nombre}}</h2>
 {% endblock  %}